<h1>New Employee</h1>

<%= form_with model: @employee, url: company_employees_path(@company), local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </div>

  <div>
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div>
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>

  <div>
    <%= f.label :CoachingProgram %>
    <%= f.select :coaching_program_id, coaching_program_data(@company), include_blank: true %>
  </div>

  <div>
    <%= f.submit "Register Employee" %>
  </div>
<% end %>
