<div class="container mt-4">
  <h4>Register New Employee</h4>
  <%= form_with model: @employee, url: company_employees_path(@company), local: true, class: 'needs-validation' do |f| %>

    <% if @employee.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
        <ul>
          <% @employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", required: true, aria: { describedby: "emailHelp" } %>
    </div>

    <div class="mb-3">
      <%= f.label :phone, class: "form-label" %>
      <%= f.telephone_field :phone, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :position, class: "form-label" %>
      <%= f.text_field :position, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :department, class: "form-label" %>
      <%= f.text_field :department, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :coaching_program_id, "Coaching Program", class: "form-label" %>
      <%= f.select :coaching_program_id, coaching_program_data(@company), include_blank: true, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Register Employee", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
